{% extends 'base.html.twig' %}

{% block title %}
  Nos produits - {{ parent() }}
{% endblock %}

{% block body %}
  <h1>Notre catalogue de produits</h1>

  <section class="catalogue">
    {% for product in products %}
      <article>
        <h2>{{ product.getName() }}</h2>
        <h4>{{ product.getPrice() }} euros seulement</h4>
        <a href={{product.getId()}}>Cliquez ici pour plus d'infos</a>
      </article>
    {% else %}
      <p >Il n'y a pas encore de produits dans notre catalogue, ajoutez-en un premier pour le voir ici...</p>
    {% endfor %}
  </section>
{% endblock %}
