{% extends 'base.html.twig' %}

{% block title %}
  Home - Bienvenue !
{% endblock %}

{% block body %}
  <h1>Bienvenue !</h1>
  <p>Vous pouvez ajouter un article dans le catalogue avec le lien "Ajouter un produit", ou bien consulter la liste des produits disponibles.
{% endblock %}