{% extends 'base.html.twig' %}

{% block title %}
  Page inexistante
{% endblock %}

{% block body %}
  <h1 class="error404">Erreur 404</h1>

  <p>
    Oh Oh, on dirait que la page que vous avez demandé n'existe pas... 
  </p>
{% endblock %}