<nav>
  <ul>
    <li>
      <a href="/">Accueil</a>
    </li>
    <li>
      <a href="/products/new">Ajouter un produit</a>
    </li>
     <li>
      <a href="/products/list">Consulter les produits</a>
    </li>
  </ul>
</nav>
